@import "nullstyle.scss";

.block-title
{
	h2
	{
		font-size: 34px;	
	}
	text-align: center;	
	height: 100px;	
	padding-bottom: 20px;
	background: url('../img/orange_line.jpg') center 95px no-repeat;
	letter-spacing: -0.06em;
}

@keyframes coming
{
	from
	{
		opacity: 0;
	}
	to
	{
		opacity: 1;
	}
}

@keyframes menu-animation
{
	from
	{
		opacity: 0;
	}	
	to
	{
		opacity: 1;
	}
}

@keyframes title-coming 
{
	from
	{
		margin-left: -500px;
		opacity: 0;
	}	
	to
	{
		margin-left: 0px;
		opacity: 1;
	}
}

body
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
}

.btn-menu:visited
{
	color: #fff;
}


header
{
	position: fixed;	
	height: 60px;
	background-color: #354051;
	width: 100%;
	z-index: 20;
	animation: coming 2s ease;
}

.logo
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	line-height: 60px;
	font-size: 20px;	
	color: #fff;
	animation: coming 0.8s ease; 
	-webkit-animations: coming 0.8s ease;
	-o-animations: coming 0.8s ease;
}

.menu
{
	float:left;
	li
	{
		a
		{
			text-decoration: none;
		}
		float:left;
		line-height: 60px;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		margin-right: 40px;
		opacity: 0;
		animation: menu-animation 1.2s ease forwards; 
		-webkit-animations: menu-animation 1.2s ease forwards;
		-o-animations: menu-animation 1.2s ease forwards;
		&:nth-child(1)
		{
      	animation-delay: 0.2s;
		}
		&:nth-child(2)
		{
			animation-delay: 0.4s;
		}
		&:nth-child(3)
		{
			animation-delay: 0.6s;
		}
		&:nth-child(4)
		{
			animation-delay: 0.8s;
		}
		&:nth-child(5)
		{
			animation-delay: 1s;
		}
		&:nth-child(6)
		{
			animation-delay: 1.2s;
		}
		a
		{
			display: inline-block;
			transition: all 0.2s;
			color: white;
			transform: scale(1,1);
			&:active
			{
				color: red;
				transform: scale(1.1,1.1);
			}
			&:visited
			{
				color: #fff;
			}
			&:hover
			{
				color: #d17700;
			}
		}
	}
}

.main 
{
	width: 100%;
	height: 980px;
	background: url('../img/Andrew.png') 87% 100%/700px no-repeat ,url('../img/fon_115.jpg') center/cover no-repeat;
	animation: coming 2s ease;
	.title
	{
		text-align: center;
		animation: title-coming 2s ease;
		h1
		{

			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 75px;
			font-weight: 600;
			color: #2c384a;
			margin-bottom: 30px;
		}
		h4
		{
			color: #79818d;
			font-size: 20px;
			margin-bottom: 45px;
		}
		input
		{
			margin: 0px 15px;
			border: 2px solid #6f7884;
			border-radius: 5px;
			text-align: center;
			font-size: 19px;
			color: #6f7884;
			padding: 10px 15px;
			transition: all 0.2s;
			transform: scale(1,1);
			&:hover
			{
				color: #fff;
				background-color: #344051;
			}
			&:active
			{
				transform: scale(1.1,1.1);
			}
		}
	}
	@media (max-width: 992px)
	{
		.title h1, .title h4
		{
			color: #fff;
			z-index: 10;
			position: relative;
		}
		.title input
		{
			background: none;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 5px;
			position: relative;
			z-index: 10;
		}

		&
		{
			position: relative;
		}
		&:after
		{
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.5);
			position: absolute;
		}
	}
}

.about
{
	width: 100%;
	height: 715px;
	background-color: #fff;
	text-align: center;
	.block-title
	{
		h2
		{
			font-size: 34px;	
		}
		height: 100px;	
		padding-bottom: 20px;
		background: url('../img/orange_line.jpg') center 95px no-repeat;
	}
	.about_text
	{
		font-size: 17px;
		color: #4d5665;
		text-align: left;
	}
	.about_button
	{

		border: 2px solid #6f7884;
		border-radius: 5px;
		text-align: center;
		font-size: 19px;
		color: #6f7884;
		padding: 7px 20px;
		padding-left: 35px;
		background: url('../img/download_icon.png') 6px 50%/10.5% no-repeat;
		transition: all 0.3s ease;
		transform:scale(1.0);
		&:hover
		{
			background: url('../img/download_icon.png') 6px 50%/10.5% no-repeat, #344051;
			color: #eeeeee;
		}
		&:active
		{
			transform: scale(1.1);
		}
	}
	@media (max-width: 482px) {
		&
		{
			height: 815px;
		}
	}
	@media (max-width: 340px) {
		&
		{
			height: 915px;
		}
	}
}

.skills
{

	width: 100%;
	height: 522px;
	background: url('../img/about_background.jpg') center center/cover no-repeat;
	.web
	{
		background: url(../img/web_skills.png) center 15% no-repeat;
	}
	.dev
	{
		background: url(../img/dev_skills.png) center 15% no-repeat;
	}
	.ceo
	{
		background: url(../img/ceo_skills.png) center 15% no-repeat;
	}
	.mark
	{
		background: url(../img/mark_skills.png) center 15% no-repeat;
	}
	.skillsbar
	{	
		.skill-container
		{
			height: 212px;
			//width: 12.5%;
			//float: left;
			//margin: 45px 75px 100px 0px;
			text-align: center;
			padding-top: 90px;
			border: 3px solid rgba(0, 0, 0, 0);
			border-radius: 40px;
			transition: all 1s ease;
			&:hover
			{
				border: 3px solid #344051;
				border-radius: 90px;
			}
			h4
			{
				font-size: 19px;
				color: #cf7600;
				margin-bottom: 15px;
			}
			p
			{
				color: #3f495a;
				line-height: 1.2;
			}
		}
	}
	@media (max-width: 992px) {
		&
		{
			height: 800px;
		}
	}
}
@media (max-width: 410px) {
	.skills .skillsbar .skill-container:hover
	{
		border-radius: 10px;
	}
}

.cases
{
	color: #3f495a;
	width: 100%;
	height: 1000px;
	img
	{
		width: 100%;
   	height: auto;
	}
	.visit_button
	{
		width: 100%;
		line-height: 45px;
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		background: #63b5ae;
		border-radius: 9px;
		transition: all 0.4s ease;
		transform: scale(1.0);
		&:hover
		{
			background: #2f716a;
			transform: scale(1.1);
		}
		&:active
		{
			transform: scale(1.0);
			background: #0c5f48;
		}
	}
	@media (max-width: 768px){
		.visit_button
		{
			width: 150px;
			line-height: 35px;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
			background: #63b5ae;
			border-radius: 9px;
			transition: all 0.4s ease;
			transform: scale(1.0);
			&:hover
			{
				background: #2f716a;
				transform: scale(1.1);
			}
			&:active
			{
				transform: scale(1.0);
				background: #0c5f48;
			}
			
		}
	}
	@media (min-width: 1200px) {
		&
		{
			height: 1190px;
		}
	}

	.client_website
	{
		h3
		{
			font-size: 25px;
			font-weight: 500;
			color: #384354;
			&:hover
			{
				text-decoration: underline;
			}
		}
		p,a
		{
			color: #3f495a;
			font-size: 16px;
		}
		a
		{
			text-decoration: none;
		}
	}
	.name_about
	{
		h4
		{
			font-size: 25px;
			line-height: 20px;
			font-weight: 500;
			color: #384354;
		}
		p
		{
			font-size: 20px;
			line-height: 1.2;
			color: #3f495a;
		}
	}
}

.cost
{
	h2
	{
		font-size: 28px;
	}
	width: 100%;
	height: 900px;
	.result
	{
		line-height: 15px;
		h5
		{
			font-size: 20px;
			font-weight: 500;
			color: #1c2534;
		}
	}
	.ans
	{
		p
		{
			text-align: right;
			line-height: 15px;
			font-size: 20px;
			font-weight: 1000;
			color: #1c2534;
		}
	}
	.title
	{
		font-size: 45px;
		font-weight: 500;
		color: #1c2534;
		text-align: center;
		margin-bottom: 60px;
		margin-top: 40px;
	}
	.line
	{
		border-top: 3px solid #d1d1d1;
	}
	.calc-menu
	{
		background: url('../img/arrow.png') 98%/18px no-repeat, #efefef;
		height: 53px;
		border-radius: 0px;
		font-weight: 500;
		color: #1c2534;
		line-height: 1.2;	
		transition: all 0.2s ease;
	}
	.cost-button
	{
		width: 100%;
		line-height: 45px;
		font-size: 20px;
		font-weight: 500;
		color: #fff;
		background: #63b5ae;
		border-radius: 9px;
		transition: all 0.3s ease;
		transform: scale(1.0);
		&:hover
		{
			background: #2f716a;
			transform: scale(1.1);
		}
		&:active
		{
			transform: scale(1.0);
			background: #0c5f48;
		}
	}
}

.statistic
{
	@media (max-width: 383px) {
		h2
		{
			font-size: 28px;
		}
	}
	@media (max-width: 322px) {
		h2
		{
			font-size: 20px;
		}
	}
	@media (max-width: 576px) {
		&
		{
			height: 599px;
		}
	}
	width: 100%;
	height: 499px;
	background: url('../img/background_stats.jpg') no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	.happy_clients
	{
		background: url('../img/happy_clients_stats.png') center 23px no-repeat;
	}
	.hours
	{
		background: url('../img/hours_stats.png') center 23px no-repeat;
	}
	.projects
	{
		background: url('../img/projects_stats.png') center 23px no-repeat;
	}
	.awards
	{
		background: url('../img/awards_stats.png') center 23px no-repeat;
	}
	.info_block
	{
		transition: all 0.5s ease;
		transform: scale(1);

		padding-top: 1px;
		&:hover
		{
			transform: scale(1.1);
		}
		h3
		{
			margin-top: 100px;
			font-size: 37.5px;
			line-height: 20px;
			color: #323e4f;
			margin-bottom: 30px;
			text-align: center;
		}
		p
		{
			font-size: 16.7px;
			font-weight: 500;
			letter-spacing: -0.06em;
			text-transform: uppercase;
			text-align: center;
			color: #323e4f;
		}
		
	}
}

.comments
{
	width: 100%;
	height: 590px;	
	@media (max-width: 766px) {
		&
		{
			height: 620px;
		}		
	}	
	@media (max-width: 422px) {
		&
		{
			height: 640px;
		}		
	}	
	p
	{
		font-size: 16.7px;
		letter-spacing: -0.06em;
		color: #5a6371;
		text-align: center;
		span
		{
			font-weight: 700;
			color: #5a6371;
		}
	}
	.dot
		{
			height: 10px;
			background:url('../img/dot_active.png')20% no-repeat, url('../img/dot.png')50% no-repeat, url('../img/dot.png')80% no-repeat;
		}
}

footer
{
	width: 100%;
	height: 810px;
	background: url('../img/background_contacts.jpg') center center/cover no-repeat;
	color: #fff;
	.contacts_text
	{
		font-size: 16.7px;
		letter-spacing: -0.06em;
		text-align: center;
	}
	.adr
	{
		background: url('../img/contacts_adr.png') center 0 no-repeat ;
		padding-top: 30px;
	}
	.email
	{
		background: url('../img/contacts_email.png') center 0 no-repeat;
		padding-top: 30px;
	}
	.tel
	{
		background: url('../img/contacts_tel.png') center 0 no-repeat ;
		padding-top: 30px;
	}
	.text_input
	{
		width: 100%;
		height: 34px;
		background-color: #d3d6dc;
		font-size: 16.7px;
		font-weight: 500;
		color: #5d5d5e;
		margin-bottom: 15px;
		padding-left: 10px;
		transition: all 0.3s ease;
		&:focus
		{
			box-shadow: 0px 0px 10px 1px white;
		}
	}
	.contacts-block
	{
		width: 70%;
		margin: 0 auto;
		@media (max-width: 768px) {
			&
			{
				width: 100%;
			}
		}
		@media (max-width: 348px) {
			&
			{
				width: 100%;
				font-size: 11px;
			}
		}
	}
	textarea
	{
		width: 100%;
		height: 94px;
		background-color: #d3d6dc;
		padding-left: 10px;
		font-size: 16.7px;
		font-weight: 500;
		color: #5d5d5e;
		resize:none;
		padding-top: 5px;
		margin-bottom: 25px;
		transition: all 0.3s ease;
		&:focus
		{
			box-shadow: 0px 0px 10px 1px white;
		}
	}
	.contacts_button
	{
		width: 100%;
		height: 46px;
		border: 0.5px solid #f9faff;
		border-radius: 5px;
		background: none;
		font-size: 20px;
		font-weight: 500;
		letter-spacing: -0.06em;
		color: #ffffff;
		margin: 0 auto;
		display: block;
		transition: all 0.1s ease;
		transform: scale(1.0);
		&:hover
		{
			box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
			transform: scale(1.1);
		}
		&:active
		{
			transform: scale(1.0);
			box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
		}
	}
	.f_content
	{
		height: 560px;
		
		
		.adr_item
		{
			width: 180px;
			height: 105px;
			float: left;
			margin-left: 50px;
			text-align: center;
			padding-top: 40px;
		}
		.message
		{
			.message_text
			{
				font-size: 20px;
				letter-spacing: -0.06em;
				text-align: center;
				margin-bottom: 40px;
			}
			.first_input
			{
				margin-right: 30px;
			}
			
			
			
		}
	}
	@media(max-width: 767px) {
		&
		{
			height: 900px;
		}
	}
	@media(max-width: 576px) {
		&
		{
			height: 950px;
		}
	}
	@media(max-width: 348px) {
		&
		{
			height: 980px;
		}
	}
}

.copyright
{
	width: 100%;
	height: 92px;
	background: #354051;
	outline: 3px solid #354051;
	p
	{
		text-align: center;
		line-height: 92px;
		font-size: 16px;
		letter-spacing: -0.06em;
		color: #fff;
	}
}


