* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

image {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  width: 1920px;
}

header {
  border: 1px solid #000;
  color: #ffffff;
  height: 61px;
  background-color: #344051;
  font-family: "Raleway";
  font-weight: 700;
}
header div {
  display: inline-block;
}
header .name {
  font-size: 22px;
  margin-top: 18px;
  margin-left: 387px;
  margin-right: 428px;
}
header .menu {
  font-size: 18px;
  text-transform: uppercase;
}
header .menu a {
  margin-right: 30px;
}

.main {
  height: 1067px;
  background: url("../img/fon_115.jpg");
  line-height: 80px;
  font-family: "Raleway";
}
.main .text {
  border: 1px solid #000;
  width: 600px;
  margin-top: 350px;
  margin-left: 320px;
  text-align: center;
}
.main .hello {
  font-size: 74px;
  font-weight: 900;
}